.linkStyle{
    text-decoration: none;
    color: black;
  }
  .cantanerPage2{
    margin-top: 60px;
    display: flex;
    
  }
  .selectedCountrye{
    height: 300px;
    width: 420px;
  }
  .h2Style{
    /* margin-left: 20px; */
    margin: 20px;
  }
  .cantanerLeft{
    margin-left: 10%;
  }
  .cantanerPLeftRight{
    display: flex;
    justify-content: space-around;
  }
  .cantanerp{
   
  }
  .cantanereftp{
    margin-left: 90px;
  }
  .PPP{
    line-height: 10PX;
  }
  