.darkmode-body {
  background-color: hsl(209, 23%, 22%);
}
.allCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem;
  gap: 0.2rem;
  position: relative;
}

.card {
  padding: 10px;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
  width: 200px;
  box-shadow: 2px 2px 2px 2px rgba(168, 175, 163, 0.2);
  box-shadow: 5px 5px 5px 5px rgb(247, 222, 222);
}
.darkmode_card {
  background-color: hsl(200, 15%, 8%);
  padding: 10px;
  border: 1px solid #141467;
  color: #333;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
  width: 200px;
  /* box-shadow: 2px 2px 2px 2px rgba(68, 69, 67, 0.2); */
  box-shadow: 5px 5px 5px 5px rgba(34, 92, 136, 0.296);
}
.cardimgtop {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.cardbody {
  padding: 15px;
}
.cardbodyDark {
  padding: 15px;
  color: #ffffff;
}

.cardtitle {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}
.cardtitleDark {
  margin: 0;
  font-size: 1.2em;
  color: #ffffff;
}

.cardtext {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 5px;
}
.cardtextDark {
  color: #ffffff;
  font-size: 0.9em;
  margin-bottom: 5px;
}
.navbar {
  height: 60px;
  width: auto;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p-navbar-dark {
  color: #ddd;
}
.button {
  /* background-color: white; */
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.button-dark {
  /* background-color: white; */
  background-color: hsl(209, 23%, 22%);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: 2px solid hsl(209, 23%, 22%);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.seahum {
  height: 60px;
  width: auto;
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
